@import url("https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Dancing+Script&display=swap");

/*--------------START CERTIFICATION-----------------*/
/*--------------HORIZONTAL LINE-----------------*/
hr {
  position: relative;
  right: 2rem;
  margin: 2rem;
  height: 0.2rem;
  border: none;
  border-radius: 2rem;
  /* background-color: #1426adb3; */
  background-image: linear-gradient(
      hsla(215, 30%, 70%, 0.9) 0%,
      hsla(215, 30%, 70%, 0) 50%,
      hsla(215, 30%, 70%, 0.9) 100%
    ),
    linear-gradient(
      to right,
      hsla(215, 30%, 80%, 0.8) 30%,
      white 50%,
      hsla(215, 30%, 80%, 0.8) 70%
    );
  width: 90vw;
  box-shadow: 0 0 0.7rem 0.7rem #3a3229;
  
}

/*--------------HEADING "CERTIFICATION"-----------------*/

.c_heading {
  position: relative;
  padding-top: 10%;
  z-index: 2;
}

#certi_heading {
  position: relative;
  width: 50vw;
  padding: 1rem;
  border-radius: 2rem;
  margin: 0 auto;
  white-space: nowrap;
  text-align: center;
  font: 400 2.5vw/0.8 "Dancing Script", cursive, Helvetica, sans-serif;
  background-image: linear-gradient(
      hsla(215, 30%, 70%, 0.9) 0%,
      hsla(215, 30%, 70%, 0) 50%,
      hsla(215, 30%, 70%, 0.9) 100%
    ),
    linear-gradient(
      to right,
      hsla(215, 30%, 80%, 0.8) 30%,
      white 50%,
      hsla(215, 30%, 80%, 0.8) 70%
    );
}

/* -----------------SMALL CONTAINER AT THE TOP----------------  */
.certi_small {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  text-align: center;
  width: 55vw;
  margin: auto;
  height: auto;
  margin-top: 2rem;
  z-index: 4;
  /* border: 5px solid pink; */
}

.certi_small img {
  width: 11vw;
}

.certi_small p {
  position: absolute;
  padding: 0.5rem;
  margin-left: -1rem;
  white-space: nowrap;
  /* margin-left: 0.7vw; */
  background-image: linear-gradient(
      hsla(215, 30%, 70%, 0.9) 0%,
      hsla(215, 30%, 70%, 0) 50%,
      hsla(215, 30%, 70%, 0.9) 100%
    ),
    linear-gradient(
      to right,
      hsla(215, 30%, 80%, 0.8) 30%,
      white 50%,
      hsla(215, 30%, 80%, 0.8) 70%
    );
  min-width: 12vw;
  border-radius: 0.5rem;
  height: 1rem;
  font-weight: 550;
  font-size: 1.2rem;
  font-family: Garamond;
}
@media screen and (max-width: 600px) {
  .certi_small p {
    height: 0.1rem;
  }
}
/* -----------------BIG CONTAINER-----------------------  */
.big {
  position: relative;
  width: 95vw;
  height: auto;
  margin-top: 5%;
  margin-left: 3%;
}

.big div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  text-align: center;
}
/* ----------------IMAGES-----------------  */
.big img {
  position: relative;
  height: auto;
  margin: 1%;
  max-width: 40%;
  object-fit: contain;
}
/* ----------------CONTAINER AROUND H2 and P [ctext]-----------------  */
.ctext {
  position: relative;
  width: 50vw;
  flex-wrap: nowrap;
  left: -2rem;
}

@media screen and (max-width: 750px) {
  .ctext {
    position: relative;
    left: -2rem;
    width: 45vw;
  }
}

/* ----------------BIG CONTAINER HEADINGS H2-----------------------  */
.big h2 {
  position: relative;
  max-height: 1rem;
  top: 0rem;
  margin-top: 0;
  border-radius: 4rem;
  padding: 1rem;
  padding-bottom: 2.2rem;
  font-family: Garamond;
  font-size: 1.2rem;
  border: 3px solid grey;
  background-image: linear-gradient(
      hsla(215, 30%, 70%, 0.9) 0%,
      hsla(215, 30%, 70%, 0) 50%,
      hsla(215, 30%, 70%, 0.9) 100%
    ),
    linear-gradient(
      to right,
      hsla(215, 30%, 80%, 0.8) 30%,
      white 50%,
      hsla(215, 30%, 80%, 0.8) 70%
    );
  background-image: url(images/backy1.jpg);
  color: white;
}

.cTriz h2 {
  position: relative;
  min-height: 2.4rem;
}

.cBachelor h2 {
  position: relative;
  min-height: 2.4rem;
}

/* -----------------MEDIA BIG H2-----------------------  */
@media screen and (max-width: 1000px) {
  /*1000 or smaller*/
  .big h2 {
    position: relative;
    white-space: nowrap;
    min-height: 3.5vw;
    height: 6vw;
    border: 2px solid grey;
    border-radius: 1rem;
    padding-bottom: 0.5rem;
    padding-top: 0.2rem;
    margin-bottom: 0.1rem;
  }
}

@media screen and (min-width: 1900px) {
  /*1900 or bigger*/
  .big h2 br {
    display: none; /*puts long headings back in one line bzw removes br*/
  }

  .big h2 {
    max-height: 1rem;
  }
}

@media screen and (max-width: 750px) {
  /*750 or smaller*/
  .big h2 {
    font-size: 0.5rem;
    overflow: auto;
  }
}

/* ----------------BIG CONTAINER TEXT P-----------------------  */
.big p {
  position: absolute;
  margin-top: 8rem;
  max-width: 45vw;
  min-height: 20%; /*to adapt div to text content*/
  padding: 1rem;
  overflow: auto;
  text-align: justify;
  font-family: Garamond;
  font-size: 1.5rem;
  border-radius: 2rem;

  background-image: linear-gradient(
    hsla(215, 30%, 70%, 0.9) 0%,
    hsla(215, 30%, 70%, 0) 50%,
    hsla(215, 30%, 70%, 0.9) 100%
  ),
  linear-gradient(
    to right,
    hsla(215, 30%, 80%, 0.8) 30%,
    white 50%,
    hsla(215, 30%, 80%, 0.8) 70%
  );
}

/* -----------------MEDIA BIG P-----------------------  */

@media screen and (max-width: 1200px) {
  /*1200 or smaller*/
  .big p {
    position: absolute;
    min-height: 10%;
    max-height: 30vh;
    width: 90%;
    top: 2%;
    margin-top: 20%;
    border-radius: 1rem;
  }

  .cUdemy p {
    position: absolute;
    min-height: 10%;
    height: 10vh;
    width: 90%;
    top: 2%;
    margin-top: 20%;
  }
}

@media screen and (max-width: 750px) {
  /*750 or smaller*/
  .big p {
    font-size: 0.5rem;
    padding: 0.4rem;
  }
  .cUdemy p {
    min-height: 15%;
    height: 6vh;
    top: 2%;
    margin-top: 20%;
  }
}

.big img:hover {
  position: relative;
  transform: scale(1.5);
  transition: all 1.5s ease-in-out;
  left: 25rem;
  border-radius: 1rem;
  z-index: 7;
}

#cBachelor {
  padding-top: 6rem;
  margin-top: -6rem;
}

#cTriz {
  padding-top: 6rem;
  margin-top: -6rem;
}

#cUdemy {
  padding-top: 6rem;
  margin-top: -6rem;
}

#cCode1 {
  padding-top: 6rem;
  margin-top: -6rem;
}
