@import url("https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Dancing+Script&display=swap");

/*----------------START OF CV---------------*/
/*-------------CV--------------------*/
.CV {
  position: relative;
  opacity: 0.98;
  display: flex;
  flex-direction: column;
  margin: 0;
  top: 4rem;
}

.CV img {
  position: relative;
  top: 2.6rem;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
  flex-wrap: nowrap;
}

/*-------------Download Button--------------------*/
.download {
  position: fixed;
  white-space: nowrap;
  width: 9vw;
  height: auto;
  right: 6%;
  top: 3vh;
  border-radius: 2rem;
  transform: rotate(15deg);
  padding: 0.3rem;
  text-align: center;
  /* font: 400 2vw/0.8 "Dancing Script", cursive, Helvetica, sans-serif;*/
  z-index: 6;
  background-image: url(images/backy1.jpg);
  font: white !important;
}

.download a {
  color: white;
}
